
* {
	box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: auto;
}

header {
  width: 100%; 
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

#logo {
  width: 80px;
  height: auto;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 30px;
  width: 100%;
  height: 30px;
  text-align: center;
}

h1 {
  margin: 0;
}
h2 {
  text-align: center;
  grid-column: span 2;
  color: rgb(13, 179, 115);
}
h3 {
  text-align: center;
  height: 40px;
}

.container {
  margin: 20px;
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
}

.col {
  margin: 10px;
  padding: 20px;
  display: grid;
  border-radius: 5px;
}

.col-left {
  grid-column: 1;
  grid-template-rows: 10% 30% 60%;
  background-color: rgb(209, 235, 240);
  justify-items: center;
}

.col-right {
  grid-column: 2;
  background-color: rgb(209, 235, 240);
  justify-items: center;
}

.form {
  grid-row: 2;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  height: 200px;
  margin: 10px;
}


.btn {
  margin-top: 20px;
  padding: 10px;
  background: rgb(13, 179, 115);
  color: white;
  width: 50%;
  height: 42px;
  justify-self: center;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}
.btn:hover {
  color: black;
  cursor: pointer;
}


tr {
  display: flex;
  padding: 10px;
  margin: 5px;
  justify-content: space-between;
  border-radius: 5px;
  background-color: white;
}

.caution {
  color:crimson;
  padding: 10px;
  text-align: justify;
  font-style: italic;
  grid-column: 1/-1;
}
.cat{
  grid-column: 1/-1;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
.diagnosis {
  grid-row: 3/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diagnosis img {
  border-radius: 5px;
  width: 70%;
  margin: 10px;
}
.diagnosis div {
  height: 50px;
  width: 80%;
  padding:5px;
  margin: 10px;
  border-radius: 5px;
  color: darkblue;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.image {
  grid-row: 3/-1;
  width: 50%;
  margin: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image img {
  border-radius: 5px;
  width:100%;
  height: auto;
  margin: 10px;
}

.hidden {
  display: none;
}

.reduce-grid {
  grid-template-rows: 10% 2% 70%;
}

.regular-grid {
  grid-template-rows: 10% 20% 70%;
}
